<%= link_to "<- Back", challenge_chats_path(@chat.challenge) %> /
<%= link_to @chat.challenge.name, challenge_path(@chat.challenge) %>

<% if Rails.env.development? %>
    <span id="token-counter" class="float-end">
        Input tokens: <%= @input_tokens %> / Output tokens: <%= @output_tokens %> / Context window: <%= @context_window %>
    </span>
<% end %>

<div id="chat_title">
    <h1 class="my-4"><%= @chat.title %></h1>
</div>

<div id="messages">
    <%= render "messages/messages", messages: @chat.messages %>
</div>

<div id="new-message">
    <%= render "messages/form", message: @message, chat: @chat %>
</div>


